@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Tektur:wght@400..900&display=swap');

/* Global Styles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Tektur', sans-serif;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* Nav Section */

#nav {
    font-family: 'Tektur', sans-serif;
}

#nav .navbar-brand {
    font-size: 2rem;
}

#nav .navbar-nav .nav-link {
    font-size: 1.2rem;
}

/* Hero Section */

.hero-section {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1617440168937-c6497eaa8db5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.2rem;
}