@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Tektur:wght@400..900&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Tektur", sans-serif;
    --secondary-font: "Quicksand", cursive;
    --primary-color:  chocolate;
    --secondary-color: black;
    --tertiary-color: #f8f9fa;
    --highlight-color: chartreuse;
    --highlight-color-light: darkgreen;
  }

/* Global Styles */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
}

body {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

/* Nav Section */

#nav {
    font-family: var(--primary-font);
}

#nav .navbar-brand {
    font-size: 2rem;
}

#nav .navbar-nav .nav-link {
    font-size: 1.2rem;
}

#nav {
    background-color: var(--primary-color);
}

/* Hero Section */

.hero-section {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../images/hero_image.avif');
    background-position: center;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    text-align: center;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.2rem;
}

/* Sources Section */

#sourceAccordion .accordion-button:not(collapsed) {
    background-color: var(--primary-color);
    font-weight: bold;
    color: var(--secondary-color);
}

.btn[data-bs-toggle="offcanvas"] {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--primary-font);
    border: none;
}

/* Footer */

footer {
    background-color: var(--primary-color);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: var(--secondary-color);
}

footer hr {
    border-top-color:var(--tertiary-color);
    opacity: 0.5
}

footer hr.small {
    margin: 20px 0
}

footer h6 {
    color:var(--tertiary-color);
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

footer a {
    color:var(--secondary-color);
}

footer a:hover {
    color: var(--highlight-color-light);
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: var(--secondary-color);   
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: var(--highlight-color-light);
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

footer .social-icons {
    text-align: right
}

footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: var(--secondary-color)
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    footer {
        padding-bottom: 0
    }

    footer .copyright-text,
    footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: var(--tertiary-color);
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: var(--tertiary-color);
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.youtube:hover {
    background-color: red;
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}